.card {
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.btn-success {
  border-radius: 20px;
  font-weight: bold;
}

h6.card-title {
  font-size: 1rem;
  font-weight: bold;
  min-height: 50px;
}

.text-danger {
  font-size: 1.25rem;
}